<%= link_to "Sign Out", logout_path, method: :delete %>

<h1>Add a link</h1>
<%= form_for(@link) do |f| %>
  <h4><%= f.label :url %></h4>
  <h4><%= f.text_field :url %></h4>
  <h4><%= f.label :title %></h4>
  <h4><%= f.text_field :title %></h4>
  <%= f.submit "Submit", class: "btn btn-primary btn-font-size" %>
<% end %>
