<%= link_to "Sign Out", logout_path, method: :delete %>

<input class="form-control" type="text" id="filter-content" placeholder="filter by content">
<select id="filter-read" placeholder="Filter by readedness">
  <option value="all">All</option>
  <option value="read">Read</option>
  <option value="unread">Unread</option>
</select>

<h1>Add a link</h1>
<%= form_for(@link) do |f| %>
  <h4><%= f.label :url %></h4>
  <h4><%= f.text_field :url %></h4>
  <h4><%= f.label :title %></h4>
  <h4><%= f.text_field :title %></h4>
  <%= f.submit "Submit", class: "btn btn-primary btn-font-size" %>
<% end %>
<% if @links %>
  <% @links.each do |link| %>
    <div class="thought" data-thought-id="<%= link.id %>">
      <h4 class="<%= link.read ? 'read' : 'unread' %> title" contenteditable="true"><%= link.title %></h4>
      <p class="<%= link.read ? 'read' : 'unread' %> url" contenteditable="true"><%= link.url %></p>
      <% if !link.read %>
        <button class="mark-read">Mark as Read</button>
      <% else %>
        <button class="mark-unread">Mark as Unread</button>
      <% end %>
      <button class="edit">Edit</button>
    </div>
  <% end %>
<% end %>
