<%= link_to "Sign Out", logout_path, method: :delete %>

<h1>Add a link</h1>
<%= form_for(@link) do |f| %>
  <h4><%= f.label :url %></h4>
  <h4><%= f.text_field :url %></h4>
  <h4><%= f.label :title %></h4>
  <h4><%= f.text_field :title %></h4>
  <%= f.submit "Submit", class: "btn btn-primary btn-font-size" %>
<% end %>
<% if @links %>
  <% @links.each do |link| %>
    <h4><%= link.title %></h4>
    <h4><%= link.url %></h4>
    <% if !link.read %>
      <%= button_to "Mark as Read", link_path(link), params: { clicked: true }, :method => :put %>
    <% else %>
      <%= button_to "Mark as Unread", link_path(link), params: { clicked: true }, :method => :put %>
    <% end %>
  <% end %>
<% end %>
